Dockerfile
Dockerfile.dev
Dockerfile.prod
.dockerignore

.dvc/config.local
.github/
.vscode/

#local config
conf/**/*credentials*
conf/local
!conf/local/.gitkeep

# ignore everything in the following folders
data/
docs/
infrastructure/
mlruns/
notebooks/
venv/
logs/

.amlignore
.dive-ci
.flake8
.gitignore
.dvcignore
.pre-commit-config.yaml
.python-version
info.log


# except the following
!logs/.gitkeep
!notebooks/.gitkeep
!references/.gitkeep
!results/.gitkeep
