black
dvc[azure]
flake8
ipython
isort
jupyter
jupyterlab
jupyterlab_server
kedro
kedro-mlflow
kedro-viz
matplotlib
mlflow
nbstripout
numpy
numpyencoder
optuna
pandas
pre-commit
pytest
pytest-cov
pytest-mock
scikit-learn
seaborn
torch